<h1 id="question">{{question.compQuestion}}</h1>
{{input id="answer" value=question.answer}}
<h1 id="score"></h1>
<h1 id="timer"></h1>
<h1 id="winner">WINNER!</h1>
<h1 id="loser">LOSER!</h1>
<button class="btn" id="reset" {{action 'resetGame'}}>Play Again?</button>
<button class="btn" id="continue" {{action 'nextQuestion'}}>Continue?</button>
<button class="btn" id="endgame" {{action 'endGame'}}>End Game?</button>
